body{
  background:#f5f7ff;
  font-family:'Segoe UI',sans-serif;
}

.navbar{
  height:80px;
  background:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 50px;
  box-shadow:0 4px 20px rgba(0,0,0,.08);
}

.logo{
  font-size:28px;
  font-weight:700;
  color:#4f46e5;
}

.upload-btn{
  background:#6366f1;
  color:white;
  border:none;
  padding:12px 24px;
  border-radius:30px;
  cursor:pointer;
}

.hero{
  text-align:center;
  margin-top:70px;
}

.hero h1{
  font-size:60px;
  margin-bottom:15px;
}

.hero p{
  color:#666;
  font-size:18px;
}

.card{
  background:white;
  border-radius:20px;
  padding:25px;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.progress-container{
  width:180px;
  margin:auto;
}

.footer {
margin-top: 80px;
padding: 40px 20px;
background: #ffffff;
border-top: 1px solid #e5e7eb;
text-align: center;
}

.footer-content h3 {
color: #111827;
margin-bottom: 10px;
}

.footer-content p {
color: #6b7280;
margin: 8px 0;
}

.digital-btn {
display: inline-block;
margin-top: 15px;
padding: 12px 22px;
border-radius: 10px;
background: #4f46e5;
color: white;
text-decoration: none;
transition: 0.3s;
}

.digital-btn:hover {
background: #4338ca;
}
